* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.banner {
    background-image: url(/Portfolio/images/image.png);
    background-size:cover;
    background-repeat: no-repeat;
    padding: 200px;
}

.skills-padding{
    padding: 70px 0;
}